body{
    font-family: 'Questrial', sans-serif;
}

#navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;
}
#navbar-primary .navbar-nav > li {
    display: inline-block;
    float: none;
    background-color: rgba(255,255,255, 0.7);
}
#navbar-primary .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
}

header{
    height: auto;
    padding-top: 10vw;
    background-color: aliceblue;

    background-image: url("/images/Oil%20Concentrate.jpg");
    background-size: 100%;
}


.description{
    background-color: rgba(255,255,255, 0.7);
}

#pgDescrip{
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}