#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}

header{
    height: 40vw;
    padding-top: 10vw;
    background-color: aliceblue;
/*
    background-image: url(../images/tw-pink-cover.jpg);
    background-size: cover;
*/
}


.description{
    text-align: center;
}