body{
    font-family: 'Questrial', sans-serif;
}

#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}
.pgtitle{
    text-align: center;
}
header{
    height: 40vw;
    padding-top: 10vw;
    background-color: aliceblue;
}
h3{
    text-align: center;
}

.rhstxt{
    text-align: right;
    float: right;
/*    vertical align bottom! */
}
.SectionContent{
    display: block;
    margin: 1vw 10vw;
}

.cover{
    width: 90vw;
}

.banner{
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fast{
    background-image: url(/images/fast%20cover.jpg);
    min-height: 200px;
}
#OneTea{
    background-image: url(/images/One%20Tea%20cover.jpg);
    min-height: 400px;
}

.logo{
    width: 30%;
}

.table{
}

.table td{
    text-align: center;
}

.table th{
    text-align: center;
}