body{
    font-family: 'Questrial', sans-serif;
}

#navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;
}
#navbar-primary .navbar-nav > li {
    display: inline-block;
    float: none;
    background-color: rgba(255,255,255, 0.7);
}
#navbar-primary .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
}

header{
    height: auto;
    padding-top: 10vw;
    background-color: aliceblue;

    background-image: url("/images/Oil%20Concentrate.jpg");
    background-size: 100%;
}


.description{
    background-color: rgba(255,255,255, 0.7);
}

#pgDescrip{
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}
h3{
    text-align: center;
}

.rhstxt{
    text-align: right;
    float: right;
/*    vertical align bottom! */
}
.SectionContent{
    display: block;
    margin: 1vw 10vw;
}

.cover{
    width: 100vw;
}

.banner{
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fast{
    background-image: url(/images/fast%20cover.jpg);
    min-height: 200px;
}
#OneTea{
    background-image: url(/images/One%20Tea%20cover.jpg);
    min-height: 400px;
}

.logo{
    width: 30%;
}

.table td{
    text-align: center;
}

.table th{
    text-align: center;
}