body{
    font-family: 'Questrial', sans-serif;
}

#navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;
}
#navbar-primary .navbar-nav > li {
    display: inline-block;
    float: none;
    background-color: rgba(255,255,255, 0.7);
}
#navbar-primary .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
}

header{
    height: auto;
    padding-top: 10vw;
    background-color: aliceblue;

    background-image: url("/images/Oil%20Concentrate.jpg");
    background-size: 100%;
}


.description{
    background-color: rgba(255,255,255, 0.7);
}

#pgDescrip{
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}

.SectionContent{
    display: block;
    margin: 0vw 10vw;
}

.rhstxt{
    text-align: right;
    float: right;
}

.centerinfo{
    text-align: center;
    width: 100%;
}

#UCDLogo{
    width: 100%;
    height: auto;
}

.banner{
    min-height: 400px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ucd{
    background-image: url(/images/UCD%20Logo.jpg);
}

#msjhs{
    background-image: url(/images/MSJHS.jpg);
}

#MSJHS{
    width: 100%;
    height: auto;
}

