body{
    font-family: 'Questrial', sans-serif;
}

#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}

header{
    height: 40vw;
    padding-top: 10vw;
    background-color: aliceblue;
}

.cover{
    width: 100vw;
}

#cylogo{
    width: 500px;
    max-width: 50vw;
}

.pgtitle{
    text-align: center;
}

.SectionContent{
    margin: 0vw 10vw;
}

.rhstxt{
    text-align: right;
    float: right;
}

#cyweb{
    width: 70vw;
    height: 70vh;
    display: block;
    margin: auto;
}

.cydesc{
    width: 80vw;
    clear: both;
    margin: auto;
}

.location{
    text-align: right;
    float:right;
}